In [17]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [50]:
world_bank = pd.read_csv("data/SDG_csv/SDGData.csv", sep=",")

In [40]:
life_expectancy = pd.read_csv("data/life-expectancy.csv")

In [45]:
household_ppp = pd.read_excel("data/NHA-indicators.xlsx")

In [51]:
#Zoek machine voor onderwerpen uit de indicator naam. Niet hoofdletter gevoelig. 
#Vergeet niet country_names te laden.

variabelen = []
for sentence in list(world_bank["Indicator Name"].values):
    sentence1 = np.array(sentence.split(" "))
    for words in (sentence1):
        if words.lower() == "GDP".lower(): #Vul hier zoekterm in.
            variabelen += [sentence]

variabelen = pd.unique(variabelen)
print(variabelen)

['GDP (constant 2010 US$)' 'GDP (constant LCU)' 'GDP (current LCU)'
 'GDP (current US$)' 'GDP growth (annual %)'
 'GDP per capita (constant 2010 US$)' 'GDP per capita (constant LCU)'
 'GDP per capita (current LCU)' 'GDP per capita (current US$)'
 'GDP per capita growth (annual %)'
 'GDP per capita, PPP (constant 2011 international $)'
 'GDP per capita, PPP (current international $)'
 'GDP per person employed (constant 2011 PPP $)'
 'PPP conversion factor, GDP (LCU per international $)'
 'Water productivity, total (constant 2010 US$ GDP per cubic meter of total freshwater withdrawal)']

In [84]:
countries = world_bank[world_bank["Indicator Name"]== "GDP (current US$)"]["Country Name"]
GDP_2017 = world_bank[world_bank["Indicator Name"]== "GDP (current US$)"]["2017"]

GDP = countries.to_frame().join(GDP_2017.to_frame())
GDP.sort_values("2017")

                         Country Name          2017
90037                          Tuvalu  3.973132e+07
67105                           Nauru  1.138849e+08
54001                        Kiribati  1.961501e+08
62373                Marshall Islands  1.993992e+08
71473                           Palau  2.915443e+08
63829           Micronesia, Fed. Sts.  3.364275e+08
76933           Sao Tome and Principe  3.908716e+08
87853                           Tonga  4.260575e+08
36893                        Dominica  5.625407e+08
32525                         Comoros  6.489209e+08
83849  St. Vincent and the Grenadines  7.896296e+08
76205                           Samoa  8.566265e+08
92949                         Vanuatu  8.628798e+08
82757             St. Kitts and Nevis  9.458545e+08
42717                     Gambia, The  1.014622e+09
45265                         Grenada  1.118817e+09
80573                 Solomon Islands  1.303454e+09
46721                   Guinea-Bissau  1.346933e+09
78389                      Seychelles  1.485994e+09
19057             Antigua and Barbuda  1.532398e+09
76569                      San Marino  1.658778e+09
83121                       St. Lucia  1.712307e+09
28521                      Cabo Verde  1.753737e+09
23789                          Belize  1.838000e+09
36529                        Djibouti  1.844674e+09
30341        Central African Republic  1.949412e+09
57641                         Liberia  2.158000e+09
24881                          Bhutan  2.511853e+09
57277                         Lesotho  2.639386e+09
87125                     Timor-Leste  2.954621e+09
...                               ...           ...
16509                           World  8.068379e+13
17965                  American Samoa           NaN
20149                           Aruba           NaN
24517                         Bermuda           NaN
26701          British Virgin Islands           NaN
29977                  Cayman Islands           NaN
31069                 Channel Islands           NaN
34709                            Cuba           NaN
35073                         Curacao           NaN
39077                         Eritrea           NaN
40533                   Faroe Islands           NaN
41989                French Polynesia           NaN
44173                       Gibraltar           NaN
44901                       Greenland           NaN
45629                            Guam           NaN
51089                     Isle of Man           NaN
54365       Korea, Dem. People's Rep.           NaN
58369                   Liechtenstein           NaN
64557                          Monaco           NaN
68197                   New Caledonia           NaN
70017        Northern Mariana Islands           NaN
74385                     Puerto Rico           NaN
79481       Sint Maarten (Dutch part)           NaN
81665                     South Sudan           NaN
83485        St. Martin (French part)           NaN
85669            Syrian Arab Republic           NaN
89673        Turks and Caicos Islands           NaN
93313                   Venezuela, RB           NaN
94041           Virgin Islands (U.S.)           NaN
94769                     Yemen, Rep.           NaN

[263 rows x 2 columns]